mnist_test_data.npz
quantized.tflite
quantized.npz
docs/_build

# Generated Verilog and VCD output.
*.v
*.vcd

# Verilator.
obj_dir

# Vivado.
pyrtlnet_ip
pyrtlnet_ip_repo
pyrtlnet_pynq
pyrtlnet.bit
pyrtlnet.hwh
